/* src/assets/styles/Footer.css */
footer {
    background-color: #e5c5c5;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: auto;
  }
  